<div class="container">
  <div class="col">
    <form>
      <div class="mb-1">
        <label class="form-label">Nome do Clinte:</label>
        <input [(ngModel)]="transferencia.nomeCliente" type="text" class="form-control" name="nomecliente">
      </div>
      <div class="mb-1">
        <label class="form-label">Número da conta:</label>
        <input [(ngModel)]="transferencia.contaCliente" type="number" class="form-control" name="contaCliente">
      </div>
      <div class="mb-1">
        <label class="form-label">Valor da transferência:</label>
        <input [(ngModel)]="transferencia.valor" type="number" class="form-control" name="valor">
      </div>
      <div class="mb-5">
        <button (click)='modificar()' class="btn btn-success">Editar</button>
      </div>
    </form>
  </div>
</div>
